@page
@model SocialNetwork.Pages.Posts.Add

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Добавить пост</title>
</head>
<body>
<div>
    <h3>Добавить новый пост:</h3>

    <form method="post" enctype="multipart/form-data">
        <label asp-for="AddedPost.Name"></label><br/>
        <input asp-for="AddedPost.Name"/><br/>
        <label asp-for="AddedPost.Text"></label><br/>
        <input asp-for="AddedPost.Text"/><br/>
        <label asp-for="AddedPost.ImageFile"></label><br/>
        <input asp-for="AddedPost.ImageFile" type="file"/><br/>
        <input type="submit"/>
    </form>
</div>
</body>
</html>