@model SocialNetworkIdentity.ViewModels.Comments.CommentCreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Create comment:</h2>
@using (Html.BeginForm("Create","Comment",new {postId = ViewBag.PostId}))
{
    @Html.EditorForModel()
    <hr/>
    <div>
        <input type="submit" value="Create"/>
    </div>
}